

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://dl.dropboxusercontent.com/scl/fi/73uvhc2z4u7h24l8bo2vq/TikTok-2_31.3.0.ipa?rlkey=5hxid5dokye4jejeuyy02zy5t&amp;dl=1</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://raw.githubusercontent.com/Nguyenhuyhoan/Yiutiubi/main/Youtube.png</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>https://raw.githubusercontent.com/Nguyenhuyhoan/Yiutiubi/main/Youtube.png</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>Gg</string>
<key>bundle-version</key>
<string>Vvv</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>Dhh gh ghh</string>
</dict>
</dict>
</array>
</dict>
</plist>


